/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    height: 3rem;
}

.footer-content {
    display: grid;
    font-size: 18px;
    height: 100%;
}

.footer-content p{
    place-self: center;    
}