@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
    --text-color: #f2f2f2;
    --main-color: #EFA3C8;
    --light-main: #FAD3E7;
    --secondary-color: #0081B4;
    --light-second: #01aaed;
    --other: #2c3e50;
  }

.navbar{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: var(--other);
    display: flex;
    justify-content: end;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 10px;
    height: auto;
    align-items: baseline;
}
  
.nav-links li {
    list-style: none;
}

.nav-links a {
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    padding: 9px 11px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: all ease 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-links a:hover{
    background-color: var(--secondary-color);
}

.navbar .nav-links a.active {
    background-color: var(--secondary-color);
}
  

#logo{
    height: 60px;
    width: 60px;
    margin: 6px 0px 0px 10px;
}

#btn-log{
    padding: 9px 16px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all ease 0.5s;
    cursor: pointer;

}

#btn-log:hover{
    background-color: var(--light-main);
    transition: all ease 0.55s;
}

/* BURGER */

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        background-color: #333;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        transition: all 0.5s ease;
    }

    .nav-links.active {
        display: grid;
        gap: 10px;
        height: 20rem;
        place-items: center;
    }

    .burger-menu {
        display: flex;
    }
    #btn-log{
        margin: 0px;
    }
}