@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --success: #198754;
  --light-success: #0dd157;
  --danger: #DC3545;
  --light-danger:  #f94658;
  --primary: #0275d8;
  --light-primary: #208eef;
}

/* MAIN */
main{
  /* FOR SIDEBAR SHOW*/
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

.appointment-box{
  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 70px auto;
  gap: 15px;
}

.appointment-box h1{
  place-self: center;
  font-size: 35px;
  text-transform: uppercase;
}

.table{
  height: 83vh;
  width: 95%;
  padding: 10px;
  justify-self: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

table{
  width: 100%;
  border-collapse: collapse;
  transition: all ease 0.5s;
}

th{
  background-color: var(--main-color);
  color: var(--text-color);
  letter-spacing: 3px;
  padding: 8px;
  color: black;

}

tr, td, th{
  border: 1px solid var(--other);
}
th{
  font-size: 16px;
}

td{
  background-color: var(--light-main);
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

#btn-view, #btn-delete{
  cursor: pointer;
  font-size: 18px;
  transition: all ease 0.5s;
}


#btn-delete{
  margin-left: 8px;
}

#btn-view:hover, #btn-delete:hover{
  scale: 1.2;
  transition: all ease 0.5s;
}


