.sidebar {
  position: fixed;
  height: 100%;
  width: 220px;
  background: var(--light-main);
  padding: 15px;
  display: grid;
  grid-template-rows: auto 2fr;
}

.logo {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  height: 100%;
  margin-top: 5px;
}

.logo p{
  font-size: 18px;
  font-weight: 500;
  align-self: center;
}

.logo h2{
  font-size: 20px;
}

.sidebar a {
  color: #11101d;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 8px;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-content{
    display: grid;
    height: auto;
    align-content: space-between;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  gap: 15px;
}

.sidebar .menu-content ul li a.active {
  background-color: var(--main-color);
}

.item{
  list-style: none;
  position: relative;
}

.item a{
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  transition: all ease 0.5s;
  border: 2px solid var(--secondary-color);
  font-size: 14px;
  text-transform: uppercase;
  height: 3.3rem;
  z-index: 1;
}

.item a:hover {
  background-color: var(--main-color);
  transition: all ease 0.5s;
}

.item #num{
  position: absolute;
  z-index: 2;
  top: -8px;
  right: -5px;
  background-color: red;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: var(--text-color);
  font-weight: 600;
}

#logout{
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all ease 0.5s;
  justify-self: center;
  /* margin-bottom: 10px; */
  width: 80%;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#logout:hover{
  background-color: var(--light-second);
  transition: all ease 0.5s;
}