@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --bg-color: #e7f2fd;
  --success: #198754;
  --light-success: #0dd157;
  --danger: #DC3545;
  --light-danger:  #f94658;
  --primary: #0275d8;
  --light-primary: #208eef;
}

/* MAIN */
main{
  /* FOR SIDEBAR SHOW*/
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

#patient-details{
    display: grid;
    grid-auto-flow: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5rem auto;
    grid-template-areas: 'p-n p-n'
    'p-d p-r';
    gap: 10px;
}

.p-1{
    grid-area: p-n;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.p-1 h2{
    align-self: center;
    font-size: 18px;
}

.p-1 h3{
    justify-self: end;
    align-self: center;
    font-size: 18px;
    letter-spacing: 3px;
}

.p-2{
    grid-area: p-d;
    display: grid;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-color);
    gap: 3px;
}

.p-2 h1{
    border-bottom: var(--other) 2px solid;
    margin-bottom: 10px;
    place-self: center;
    font-size: 26px;
}

.p-2 h3{
    font-size: 16px;
}

.p-2 span{
    font-size: 17px;
    font-weight: 500;
    color: #971549;
}

.p-3{
    grid-area: p-r;
    display: grid;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: var(--bg-color);
    padding: 10px;
    grid-template-rows: 3rem 2rem auto;
}

.p-3 h1{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--other);
    font-size: 23px;
    line-height: 3rem;
    text-transform: uppercase;
}

#btn-nr{
    align-self: end;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 4px 8px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-weight: 600;
}

#btn-view{
    background-color: var(--primary);
    padding: 3px 20px;
    border-radius: 10px;
    color: var(--text-color);
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease 0.5s;
}

#btn-view:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}



#btn-nr:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

.t-3 {
    padding: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 10px;
}

#scroll{
    max-height: 38rem;
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 13px;
   
}

th{
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: var(--other-color);
    font-size: 14px;
    font-weight: 700;
}

td a{
    text-decoration: none;
    color: var(--light-second); 
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all ease 0.5s;
}

td a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    width: bold;
    transition: all ease 0.5s;
}

th{
    text-align: center;
}

tr:nth-child(even){
    background-color: var(--light-main);
}

#v-btn-view{
    padding: 3px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--text-color);
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease 0.5s;
    font-weight: 600;
}

#v-btn-view:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

/* MODAL NEW RECORDS */
.n-modal{
    padding: 1em;
    max-width: 50ch;

    & > *{
        margin: 0 0 0.5rem 0;
    }
}

.n-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 45rem;
    border: 0;
    background-color: #eef9ff;
    border-radius: 20px;
}

.n-modal-content{
    display: grid;
    width: 100%;
    height: auto;
    overflow: hidden;   
}

.n-modal-content h2{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--other);
}

#n-close-button{
    transition: all ease 0.5s;
    position: fixed;
    top: 28px;
    right: 21px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 25px;
}

.n-modal-content form{
    display: grid;
    gap: 2px;
    padding: 10px;
}

.n-modal-content form label{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 2px; 
}

.n-modal-content form input, select, textarea{
    padding: 0px 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #11101d;
    font-size: 14px;
    height: 2rem;
    font-weight: 600;
}
textarea{
    height: auto;
    padding-top: 5px;
}

.n-modal-content form input:focus, select:focus, textarea:focus{
    border: 1px solid var(--secondary-color);
}

.n-modal-content form input:hover, select:hover, textarea:hover{
    border: 1px solid var(--secondary-color);

}

span{
    color: var(--danger);
}

#modal-button{
    transition: all ease 0.5s;
    width: 40%;
    justify-self: center;
    margin-top: 20px;
    padding: 5px 25px;
    background-color: var(--primary);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease 0.5s;
}

#modal-button:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

#PID{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
}

textarea{
    resize: none;
}

.btn{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#btn-back{
    align-self: end;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 5px 25px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-weight: 600;
}

#btn-back:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

#btn-del{
    font-size: 18px;
    cursor: pointer;   
    transition: all ease 0.5s;
}
#btn-del:hover{
    scale: 1.2;
    transition: all ease 0.5s;
}
