@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --success: #198754;
  --light-success: #0dd157;
  --danger: #DC3545;
  --light-danger:  #f94658;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* MAIN */
.main{
  /* FOR SIDEBAR SHOW*/
  left: 220px;
  width: calc(100% - 220px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

#Patient-Records{
    display: grid;
    grid-auto-flow: column;
    height: 100vh;
    width: 100%;
}

/* PATIENT RECORDS */
.patient-box{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 60px auto;
    grid-template-areas: 'p-t p-t'
                         'search btn'
                         't t';
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.title{
    grid-area: p-t;
    width: 100%;
}

.title h1{
    text-align: center;
    line-height: 60px;
    font-size: 35px;
}

.search{
    grid-area: search;
    align-self: center;
}

.search input{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 8px;
    height: 2rem;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search input:focus{
    border: 1px solid var(--secondary-color);
}

.btn{
    grid-area: btn;
    align-self: center;
    justify-self: end;
}

.btn button{
    letter-spacing: 3px;
}

.btn button, #modal-button{
    padding: 0px 8px;
    height: 2rem;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 12px;
    transition: all ease 0.5s;
}

#modal-button:disabled{
    pointer-events: none;
    background-color: var(--danger);
    opacity: 0.5;
}

.btn button:hover{
    background-color: var(--light-second);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.t-patient {
    grid-area: t;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    max-height: 28rem;
    border-radius: 10px;
}

#scroll{
    max-height: 29rem;
    width: 100%;
    overflow-y: scroll;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#mytable{
    background-color: var(--light-main);
}

td, th{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    border: 1px solid black;
    font-size: 14px;
}

th{
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: var(--other-color);
    font-weight: 700;
}

td a{
    text-decoration: none;
    color: var(--light-second); 
    font-size: 14px;
    font-weight: 700;
    transition: all ease 0.5s;
}

td a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    width: bold;
    transition: all ease 0.5s;
}

th{
    text-align: center;
}


/* MODAL */
.modal{
    padding: 1em;
    max-width: 50ch;

    & > *{
        margin: 0 0 0.2rem 0;
    }
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 35rem;
    border-radius: 20px;
    border: 0;
    background-color: #eef9ff;
}

.modal-content{
    display: grid;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.modal-content h2{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--other);
    font-size: 20px;
}

#close-button{
    transition: all ease 0.5s;
    position: fixed;
    top: 25px;
    right: 15px;
    font-size: 25px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-content form{
    display: grid;
    gap: 2px;
    padding: 10px;
}

.modal-content form label{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 700;
}

.modal-content form input, select, textarea{
    padding: 0px 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #11101d;
    font-size: 13px;
    font-weight: 500;
    height: 2.5rem;
}

.modal-content form input:focus, select:focus, textarea:focus{
    border: 1px solid var(--secondary-color);
}

.modal-content form input:hover, select:hover, textarea:hover{
    border: 1px solid var(--secondary-color);

}

#check_email{
    font-size: 12px;
    margin: -5px 0 4px 8px;
    font-weight: 600;
}

span{
    color: var(--danger);
}


#modal-button{
    transition: all ease 0.5s;
    width: 40%;
    justify-self: center;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: 700;
}

#modal-button:hover{
    background-color: var(--light-second);
}



p{
    font-size: 12px;
}

#btn-edit, #btn-delete{
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.5s;
}

#btn-edit:hover, #btn-delete:hover{
    scale: 1.2;
    transition: all ease 0.5s;
}

#btn-edit{
    margin-right: 8px;
}

#link-table{
    font-weight: 700;
    letter-spacing: 3px;
}

textarea{
    resize: none;
    padding-top: 5px;
    height: 3rem;
}

.border-red {
    border: 1px solid red !important;
}
