@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --bg-color: #e7f2fd;
  --success: #198754;
  --light-success: #0dd157;
  --danger: #DC3545;
  --light-danger:  #f94658;
  --primary: #0275d8;
  --light-primary: #208eef;
}

/* MAIN */
main{
  /* FOR SIDEBAR SHOW*/
  left: 220px;
  width: calc(100% - 220px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

.box-reports{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 80px 40px auto;
  position: relative;
  padding: 0 15px;
}

.box-combobox{
  display: flex;
  align-items: center;
}

.box-combobox button{
  padding: 2px 10px;
  background-color: var(--primary);
  border: none;
  color: var(--text-color);
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box-combobox button:hover{
  transition: all ease 0.5s;
  background-color: var(--light-primary);
}




.col2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.table{
  display: grid;
  place-self: center;
  height: 31rem;
  width: 93.2%;
  overflow: auto;
  align-items: start;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#dlbtn{
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px 10px;
  background-color: var(--success);
  border-radius: 20px;
  text-decoration: none;
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all ease 0.5s;
}

#dlbtn:hover{
  transition: all ease 0.5s;
  background-color: var(--light-success);
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 2rem;
}

th, td {
  border: 1px solid #dddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: var(--light-main);
}

tr:nth-last-child(1){
  font-weight: 700;
  background-color: var(--main-color);
}

th {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
}
