@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --background: #e7f2fd;
  --new: #5bd0ff;
  --newf: #ffb0d6;
}

/* MAIN */
.main{
  /* FOR SIDEBAR SHOW*/
  left: 220px;
  width: calc(100% - 220px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 100;
  background: #e7f2fd;
}

#dashboard{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: auto 2fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'col1'
                       'col2'
                       'col3';
  padding: 10px;
  overflow: auto;
}

#column1{
  grid-area: col1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 99%;
  gap: 20px;
  min-width: 50%;
}

.graph-box{
  grid-area: col2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 99%;
  margin-top: 20px;
  gap: 15px;
  max-width: 100%;
}

.graph-box .box{
  background-color: var(--background);
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.graph-box2{
  grid-area: col3;
  display: grid;
  width: 99%;
  margin-top: 20px;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  max-width: 100%;
}

.graph-box2 .box{
  background-color: var(--background);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.user-account,
.appointment-records, .total-patients, .total-records{
  padding: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease 0.5s;
}

.user-account:hover,
.appointment-records:hover, .total-patients:hover, .total-records:hover{
  background-color: var(--main-color);
  transition: all ease 0.5s;
}

.user-account i, 
.appointment-records i, 
.total-patients i,
.total-records i{
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  font-size: 23px;
}

.user-account h2, .user-account p,
.appointment-records h2, .appointment-records p,
.total-patients p, .total-patients h2,
.total-records p, .total-records h2{
  place-self: center;
  cursor: default;
  font-size: 14px;
  font-weight: 700;
}

.user-account h2, .appointment-records h2, .total-patients h2, .total-records h2{
  font-size: 20px;
  color: var(--other);
}


