@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --background: #e7f2fd;
  --new: #5bd0ff;
  --newf: #ffb0d6;
}

/* MAIN */
.main{
  /* FOR SIDEBAR SHOW*/
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

#dashboard{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 90px auto 1fr;
  padding: 15px;
  overflow: auto;
}

#column1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.graph-box{
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  min-height: 200px;
  min-width: 200px;
}

.graph-box .box{
  position: relative;
  background-color: var(--background);
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#animal{
  position: relative;
  padding: 20px;
  min-height: auto;
  background-color: black;
}










.user-account,
.appointment-records, .total-patients{
  padding: 10px;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 50% 50%;
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all ease 0.5s;
}

.user-account:hover,
.appointment-records:hover, .total-patients:hover{
  background-color: var(--main-color);
  transition: all ease 0.5s;
}

.user-account i, 
.appointment-records i, 
.total-patients i{
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  font-size: 30px;
}

.user-account h2, .user-account p,
.appointment-records h2, .appointment-records p,
.total-patients p, .total-patients h2{
  place-self: center;
  cursor: default;
}


