@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
}

/* MAIN */
.main{
  /* FOR SIDEBAR SHOW*/
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

#Dashboard{
  display: grid;
  height: 100vh;
  width: 100%;
  border-bottom: 2px solid black;
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px auto;
  grid-template-areas: 'u-a t-a e-w'
                       'age age age';
  padding: 20px;
  gap: 10px;
}

.user-account,
.appointment-records{
  padding: 10px;
  display: grid;
  background-color: var(--main-color);
  grid-template-columns: 50px auto;
  grid-template-rows: 50% 50%;
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.user-account i, .appointment-records i{
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  font-size: 30px;
}

.user-account h2, .user-account p,
.appointment-records h2, .appointment-records p{
  place-self: center;
}

#piechart1{
  grid-area: age;
}

