@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
    --text-color: #f2f2f2;
    --main-color: #EFA3C8;
    --light-main: #FAD3E7;
    --secondary-color: #0081B4;
    --light-second: #01aaed;
    --other: #2c3e50;
    --bg-color: #e7f2fd;
    --success: #198754;
    --light-success: #0dd157;
    --danger: #DC3545;
    --light-danger:  #f94658;
    --primary: #0275d8;
    --light-primary: #208eef;
  }

/* MAIN */
main{
  /* FOR SIDEBAR SHOW*/
  left: 220px;
  width: calc(100% - 220px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

.update-user{
    display: grid;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    place-items: center;
  
}

.update-box{
    position: relative;
    display: grid;
    width: 80%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 10px;
    grid-template-rows: 70px auto;
}

h1{
    width: 100%;
    border-bottom: 2px solid var(--other);
    text-align: center;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 25px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    gap: 15px;
    margin-top: 8px;
}

div{
    display: grid;
}

div label{
    align-self: end;
    margin-left: 5px;
    font-weight: 500;
}

div input,textarea,select{
    padding: 0px 8px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    outline: none;
    transition: all ease 0.5s;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 2.2rem;
}

div input:hover,textarea:hover,select:hover{
    border: 1px solid var(--light-second);
    transition: all ease 0.5s;
}

#address{
    grid-column: 1/3;
    resize: none;
}

#back{
    position: absolute;
    top: 32px;
    left: 20px;
    cursor: pointer;
    transition: all ease 0.5s;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 4px 25px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-weight: 600;
}

#back:hover{
    background-color: var(--light-second);
}
#btn-u{
    grid-column: 1/3;
    width: 100%;
}

#btn-update{
    justify-self: end;
    width: 12%;
    margin: 4px 9px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: var(--primary);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease 0.5s;
    padding: 7px 10px;
    font-size: 10px;
}

#btn-update:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

