@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --text-color: #f2f2f2;
  --main-color: #EFA3C8;
  --light-main: #FAD3E7;
  --secondary-color: #0081B4;
  --light-second: #01aaed;
  --other: #2c3e50;
  --bg-color: #e7f2fd;
  --success: #198754;
  --light-success: #0dd157;
  --danger: #DC3545;
  --light-danger:  #f94658;
  --primary: #0275d8;
  --light-primary: #208eef;
}

/* MAIN */
main{
  /* FOR SIDEBAR SHOW*/
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  /* END FOR SIDEBAR SHOW*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
  background: #e7f2fd;
}

#view-records{
  display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  grid-auto-rows: 5rem auto;
}

.p-1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.p-1 h2{
    align-self: center;
    font-size: 18px;
}

.p-1 h3{
    justify-self: end;
    align-self: center;
    font-size: 18px;
    letter-spacing: 3px;
}
.row2{
    display: grid;
    grid-auto-flow: column;
    margin-top: 10px;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}

.history-exposure{
    position: relative;
}

.history-exposure h1{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--other);
    font-size: 27px;
    margin-top: 10px;
}

.input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.form-label{
    width: 100%;
    display: grid;
}

#status, #doctor{
    display: grid;
    align-content: start;
}

.form-label label{
    font-size: 1rem;
    font-weight: 600;
    align-self: end;
}

.form-label input, select, textarea{
    height: 2.3rem;
    padding: 0px 10px;
    font-size: 13px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--light-primary);
    font-weight: 500;
}

.form-label p{
    font-size: 12px;
}

textarea{
    resize: none;
    height: auto;
    padding-top: 5px;
}

.input-group2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 8px;
}

span{
    color: var(--danger);
}
h1{
    margin-top: 10px;
}

#vs-btn{
    padding: 0px 28px;
    margin: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--text-color);
    background-color: var(--primary);
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 2rem;
}

#v-btn{
    grid-column: span 2;
    display: grid;
    justify-items: end;
    align-items: center;
    height: 100%;
}

#vs-btn:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}

#back{
    position: absolute;
    top: 6px;
    left: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 5px 25px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: all ease 0.5s;
    font-weight: 600;
}

#back:hover{
    background-color: var(--light-primary);
    transition: all ease 0.5s;
}